.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #23415B;
  width: 100%;
  height: 20vh;
}

.exit-button-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #23415B;
}